.Start {
    width: 100%;
    max-width: 600px;
    /* min-height: 550px; */
}

.Start h1 {
    font-weight: 400;
    font-size: 3.4em;
    line-height: 1.45;
    margin: 0 0 .5em;
}

.Start p {
    font-size: 1.5em;
    line-height: 1.42857143;
    
}